#s-018af786-b867-4fd4-a322-7dae2923fc9f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Table_1 {
  position: absolute;
  top: 163px;
  left: 88px;
  width: 851px;
  height: 283px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  box-shadow: none;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_3 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 62px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_3 span#rtr-s-Text_cell_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_1 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 256px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_1 span#rtr-s-Text_cell_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_4 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 249px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_4 span#rtr-s-Text_cell_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_7 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 234px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_7 span#rtr-s-Text_cell_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_2 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 64px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_2 span#rtr-s-Text_cell_2_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_5 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 258px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_5 span#rtr-s-Text_cell_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_6 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 251px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_6 span#rtr-s-Text_cell_6_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_8 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 236px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_8 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_8 span#rtr-s-Text_cell_8_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_9 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 64px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_9 span#rtr-s-Text_cell_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_10 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 258px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_10 span#rtr-s-Text_cell_10_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_11 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 251px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_11 span#rtr-s-Text_cell_11_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_12 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 236px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_12 span#rtr-s-Text_cell_12_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_13 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 64px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_13 span#rtr-s-Text_cell_13_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_14 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 258px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_14 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_14 span#rtr-s-Text_cell_14_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_15 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 251px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_15 span#rtr-s-Text_cell_15_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_16 {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  width: 236px;
  height: 59px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  text-shadow: none;
  line-height: 14px;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Text_cell_16 span#rtr-s-Text_cell_16_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_58 {
  position: absolute;
  top: 573px;
  left: 445px;
  width: 121px;
  height: 57px;
  background-color: #428BCA;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #428BCA;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #428BCA;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #428BCA;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #428BCA;
  border-radius: 12px 12px 12px 12px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 9.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_58 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_58 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_58 span#rtr-s-Label_58_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Group_27 {
  position: absolute;
  top: 457px;
  left: 419px;
  width: 228px;
  height: 33px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 96px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_40 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_40 span#rtr-s-Label_40_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_41 {
  position: absolute;
  top: 0px;
  left: 129px;
  width: 79px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-radius: 17px 17px 17px 17px;
  padding-top: 9px;
  padding-right: 9px;
  padding-bottom: 9px;
  padding-left: 9px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: 'Arial',Arial;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_41 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_41 span {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f #s-Label_41 span#rtr-s-Label_41_0 {
  color: #0088CC;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-018af786-b867-4fd4-a322-7dae2923fc9f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}