#s-06f23307-9dc2-4d5b-a06b-ef2834f4a800 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-06f23307-9dc2-4d5b-a06b-ef2834f4a800 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-06f23307-9dc2-4d5b-a06b-ef2834f4a800 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}