#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Label_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-ed52a59b-d351-4751-9a7d-4c4fb8bda1d0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}